body {
  background-color: #12171f;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#main {
  width: 24em;
  max-width: 100%;
  margin: 0 auto;
  padding: 6em 1em;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.gray {
  color: gray;
}

big {
  font-size: 2rem;
}

header {
  padding-bottom: 32px;
  top: 0;
  z-index: 1;
}

h1 {
  font-family: "Bungee";
  font-size: 36px;
  color: white;
}

h1,
h4 {
  font-weight: 400;
}

#links {
  padding-top: 1em;
}

#links p {
  padding-bottom: 0.8em;
  width: 100%;
  text-align: center;
}

#links a {
  color: grey;
  border-bottom: 2px dotted grey;
  padding-bottom: 0.1em;
}

#links a:hover {
  border-bottom-style: solid;
}
