{% extends "page.jinja" %}
{% block content %}
  <h2>📨 Checkni svůj školní mail</h2>
  <br>
  <p>
    Nechceme snitches ze sborovny a nikoho, kdo by to tu chtěl hrotit, takže
    je potřeba ukázat, že nejsi Jaroslav Filip.
  </p>
{% endblock %}
