{% extends "page.jinja" %}
{% block content %}
  <ul class="subjects">
    {% for subject_code, subject in subjects.items() %}
      <li>
        <a href="/{{ grade }}/{{ subject_code }}">
          {{ subject["emoji"] }}&nbsp;&nbsp;{{ subject["name"] }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}