{% extends "page.jinja" %}
{% block content %}
  <ul>
    <li><a href="/1">1️⃣&nbsp;&nbsp;Prima</a></li>
    <li><a href="/2">2️⃣&nbsp;&nbsp;Sekunda</a></li>
    <li><a href="/3">3️⃣&nbsp;&nbsp;Tercie</a></li>
    <li><a href="/4">4️⃣&nbsp;&nbsp;Kvarta</a></li>
    <li><a href="/5">5️⃣&nbsp;&nbsp;Kvinta</a></li>
    <li><a href="/6">6️⃣&nbsp;&nbsp;Sexta</a></li>
    <li><a href="/7">7️⃣&nbsp;&nbsp;Septima</a></li>
    <li><a href="/8">8️⃣&nbsp;&nbsp;Oktáva</a></li>
  </ul>
{% endblock %}