<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main_20230213.css" />
    <script async defer data-domain="muceni.porgovskadrbna.cz"
      src="https://analytics.michaljanocko.com/js/plausible.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Slab:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@alpinejs/persist" defer></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖋️</text></svg>" />
    <title>(M)učení</title>
  </head>
  <body>
    <div id="main">
      <header>
        <a href="/">
          <h1>(M)učení&nbsp;&nbsp;🖋️</h1>
        </a>
        {% block header %}{% endblock %}
      </header>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>