{% extends "page.jinja" %}
{% block content %}
  <ul>
    {% for file in files %}
      <li>
        <a href="/files/{{ grade }}/{{ file }}">
          {% if file[-4:] in [".jpg", ".png"] or file[-5:] in [".jpeg"] %}
            🖼️
          {% else %}
            📄
          {% endif %}
          &nbsp;{{ file }}
        </a>
      </li>
    {% else %}
      😢 Tady zatím nic není…
    {% endfor %}
  </ul>
{% endblock %}