{% extends "page.jinja" %}
{% block content %}
  <p>🎆  Ďk, ostatní to stopro zcení. Duch PORGu žije!</p>
  <a href="/" class="gray" style="border-bottom: 2px dotted grey">Zpět na hlavní stránku</a>
{% endblock %}
